body {
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.view-container {
  top: calc(100vh - 80px);
  height: calc(100vh - 80px);
  width: 100vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.height-less-nav {
  height: calc(100vh - 80px);
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}