body {
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.view-container {
  top: calc(100vh - 80px);
  height: calc(100vh - 80px);
  width: 100vw;
}

.height-less-nav {
  height: calc(100vh - 80px);
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.grid-item {
  width: 100%;
  height: 130px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  margin-bottom: 2px;
}

.grid-item-text {
  font-size: 1rem;
}
.shift-down {
  position: absolute;
  top: 80px;
  width: 100vw;
}